!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title IdeaX
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag('favicon.ico')
    %link{:href => "sticky-footer.scss", :rel => "stylesheets"}/


    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://code.jquery.com/jquery-3.2.1.slim.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"}
    
  %body
    = render 'layouts/notifications'
    = yield
